.badge {
	display: inline-block;
	border-radius: 18px;
	color: #fff;
	padding: 2px 6px;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.badge_emerg {
	padding: 2px;
	background-color: #ff00ff;
	border-radius: 4px;
	display: inline-block;
}

.badge_alert {
	padding: 2px;
	background-color: #ff0000;
	border-radius: 4px;
	display: inline-block;
}

.badge_crit {
	padding: 2px;
	background-color: #ffa0a0;
	border-radius: 4px;
	display: inline-block;
}

.badge_critical {
	padding: 2px;
	background-color: #ffa0a0;
	border-radius: 4px;
	display: inline-block;
}

.badge_err {
	padding: 2px;
	background-color: #ff8f00;
	border-radius: 4px;
	display: inline-block;
}

.badge_error {
	padding: 2px;
	background-color: #ff8f00;
	border-radius: 4px;
	display: inline-block;
}

.badge_warn {
	padding: 2px;
	background-color: #ffff00;
	border-radius: 4px;
	display: inline-block;
}

.badge_warning {
	padding: 2px;
	background-color: #ffff00;
	border-radius: 4px;
	display: inline-block;
}

.badge_notice {
	color: black;
	padding: 2px;
	background-color: #a0ffa0;
	border-radius: 4px;
	display: inline-block;
}

.badge_info {
	color: black;
	padding: 2px;
	background-color: #dfffdf;
	border-radius: 4px;
	display: inline-block;
}

.badge_debug {
	color: black;
	padding: 2px;
	background-color: #ffffff;
	border-radius: 4px;
	display: inline-block;
}

.SyslogListColHeaderLeftNoWrap{text-align:left; padding-left:3px; padding-right:3px; white-space:nowrap;}
.SyslogListColLeftNoWrap{text-align:left; padding-left:3px; padding-right:3px; white-space:nowrap;}

.SyslogListColHeaderRightNoWrap{text-align:right; padding-left:3px; padding-right:3px; white-space:nowrap;}
.SyslogListColRightNoWrap{text-align:right; padding-left:3px; padding-right:3px; white-space:nowrap;}

.SyslogListColHeaderCenterNoWrap{text-align:center; padding-left:3px; padding-right:3px; white-space:nowrap;}
.SyslogListColCenterNoWrap{text-align:center; padding-left:3px; padding-right:3px; white-space:nowrap;}

